<%= simple_form_for [:admin, @permission] do |f| %>
    <%= f.input :action %>
    <%= f.input :subject %>
    <%= f.input :description %>
    <div class="form-actions col-lg-9 col-md-10 col-sm-12 col-xs-12">
      <%= f.submit "提交", data: {disable_with: '正在提交...'}, :class => "btn btn-primary rgt-btn" %>
    </div>
<% end %>
