<%= render partial: 'common/header', locals: {sub_title: '权限', breadcrumb: '所有权限', new_path: new_admin_permission_path} %>


<div class="row">
  <div class="col-lg-12">


    <table class="table table-bordered table-hover tablesorter tablesorter-default" role="grid">
      <thead>
      <tr>
        <td> # </td>
        <td> Action </td>
        <td> Subject </td>
        <td> Description </td>
        <th colspan="2">&nbsp;</th>
      </tr>
      </thead>
      <tbody>
      <% @permissions.each do |admin_permission| %>
          <tr>
            <td style="width:30px;min-width:30px;">
              <%= admin_permission.id %>
            </td>
            <td style="width:80px;min-width:80px;">
              <% unless admin_permission.action.nil? %><%= admin_permission.action %>
              <% end %>
            </td>
            <td style="width:80px;min-width:80px;">
              <% unless admin_permission.subject.nil? %><%= admin_permission.subject %>
              <% end %>
            </td>
            <td>
              <% unless admin_permission.description.nil? %><%= admin_permission.description %>
              <% end %>
            </td>
            <td style="width:70px;min-width:70px;">
              <%= link_to('<i class= "fa fa-edit"></i> 编辑'.html_safe, edit_admin_permission_path(admin_permission), :class => "blue") %>
            </td>
            <td style="width:70px;min-width:70px;">
              <%= link_to('<i class= "fa fa-trash-o""></i> 删除'.html_safe, admin_permission_path(admin_permission), method: :delete, data: { confirm: 'Are you sure?' }, :class => "red") %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>

  </div>
</div><!-- /.row -->