<%= simple_form_for(@group) do |f| %>
    <%= f.error_notification %>
    <%= f.input :name %>
    <%= f.input :description %>
    <div class="form-actions">
      <%= f.submit "提交", data: {disable_with: '正在提交...' }, :class => "btn btn-primary"%>
    </div>
<% end %>