<p id="notice"><%= notice %></p>

<p>
  <strong>Gathering:</strong>
  <%= @gathering.gathering %>
</p>

<p>
  <strong>Description:</strong>
  <%= @gathering.description %>
</p>

<%= link_to 'Edit', edit_gathering_path(@gathering) %> |
<%= link_to 'Back', gatherings_path %>
