<%= simple_form_for @contact do |f| %>
    <%= f.input :name, label: '姓名' %>
    <%= f.association :participated_groups, label: '小组', as: :check_boxes, :include_blank => false %>
    <%= f.input :gender, as: :radio_buttons, collection: [['男', 1], ['女', 0]], label: '性别' %>
    <%= f.input :telephone, label: '座机', placeholder: '+49 241 1234 5678' %>
    <%= f.input :mobile, label: '手机', placeholder: '+49 176 1234 5678' %>
    <%= f.input :email, placeholder: 'CAachen@gmail.com' %>
    <%= f.input :wechat, label: '微信', placeholder: '微信号' %>
    <%= f.input :address, label: '地址', placeholder: 'Roermonder straße 110 52072 Aachen' %>
    <%= f.input :birthday, label: '生日', :as => :string, placeholder: '格式:YYYY-MM-DD 年-月-日，如果年份未知，请写1900年' %>
    <%= f.input :come, label: '<span class="Hinweis" title="第一次来团契">首访</span>'.html_safe, :as => :string, placeholder: '格式:YYYY-MM-DD 年-月-日' %>
    <%= f.input :decision, label: '决志', :as => :string, placeholder: '格式:YYYY-MM-DD 年-月-日' %>
    <%= f.input :decision_with, label: '<span class="Hinweis" title="谁带领决志祷告">带领</span>'.html_safe, :as => :string %>
    <%= f.input :baptism, label: '受洗', :as => :string, placeholder: '格式:YYYY-MM-DD 年-月-日' %>
    <%= f.input :go, label: '<span class="Hinweis" title="离开Aachen">离开</span>'.html_safe, :as => :string, placeholder: '格式:YYYY-MM-DD 年-月-日' %>
    <%= f.input :comment, label: '备注' %>
    <div class="form-actions">
      <%= f.submit "提交", data: {disable_with: '正在提交...'}, :class => "btn btn-primary" %>
    </div>
<% end %>