<%= render partial: 'common/header', locals: {sub_title: '联系人', breadcrumb: '所有联系人', new_path: new_contact_path} %>

<div class="row">
  <div class="col-lg-12">
    <div class="flickr_pagination">
      <%= will_paginate @contacts, :container => false %>
    </div>

    <%= render 'common/contacts_table' %>

  </div>
</div><!-- /.row -->

<div class="row">
  <div class="col-lg-12">
    <ol class="breadcrumb">
      <li class="active"><i class="fa fa-table"></i> 查找联系人</li>
    </ol>
  </div>
</div><!-- /.row -->

<div class="row">
  <div class="col-lg-12">
    <%= search_form_for @q, :builder => SimpleForm::FormBuilder, url: contacts_path, html: {method: :get, class: 'simple_form form-horizontal'} do |f| %><!--:builder => SimpleForm::FormBuilder, -->

        <%= f.input :name_cont, label: '姓名含有', :required => false %>
        <%= f.input :mobile_cont, label: '手机含有', :required => false %>
        <%= f.input :email_cont, label: 'Email 含有', :required => false %>
        <%= f.input :participated_groups_id_eq, :collection => Group.all.map { |g| [g.name, g.id] }, input_html: {class: 'special'}, include_blank: true, label: '属于小组', :required => false %>
        <%= f.submit "查找", data: {disable_with: '正在努力查找中...'}, :class => "btn btn-primary" %>
    <% end %>

  </div>
</div><!-- /.row -->