<%= render partial: 'common/header', locals: {sub_title: '用户', breadcrumb: '所有用户', new_path: nil} %>

<div class="row">
  <div class="col-lg-12">


    <table class="table table-bordered table-hover tablesorter tablesorter-default" role="grid">
      <thead>
      <tr>
        <td style="width:40px;min-width:40px;">ID</td>
        <td style="min-width:60px;"> 用户名</td>
        <td style="min-width:60px;"> 真名</td>
        <td style="min-width:60px;"> Email</td>
        <td style="width:50px;min-width:50px;"> <span class="Hinweis" title="登录次数">次数</span></td>
        <td style="width:90px;min-width:90px;"> 注册日期</td>
        <td style="width:90px;min-width:90px;"> 最近登录</td>
        <td style="width:123px;min-width:123px;"> 最近 IP</td>
        <td style="width:90px;min-width:90px;"> 上次登录</td>
        <td style="width:123px;min-width:123px;"> 上次 IP</td>
        <td style="width:30px;min-width:30px;"> &nbsp;</td>
      </tr>
      </thead>
      <tbody>
      <% @users.each do |user| %>
          <tr>
            <td>
              <% unless user.id.nil? %><%= user.id %>
              <% end %>
            </td>
            <td>
              <% unless user.username.nil? %><%= user.username %>
              <% end %>
            </td>
            <td style="min-width:73px">
              <% unless user.name.nil? %><%= user.name %>
              <% end %>
            </td>
            <td>
              <% unless user.email.nil? %><%= user.email %>
              <% end %>
            </td>
            <td>
              <% unless user.sign_in_count.nil? %><%= user.sign_in_count %>
              <% end %>
            </td>
            <td>
              <% unless user.created_at.nil? %><span class="Hinweis" title="<%= user.created_at %>"><%= user.created_at.strftime('%Y-%m-%d') %> </span>
              <% end %>
            </td>
            <td>
              <% unless user.current_sign_in_at.nil? %><span class="Hinweis" title="<%= user.current_sign_in_at %>"><%= user.current_sign_in_at.strftime('%Y-%m-%d') %> </span>
              <% end %>
            </td>
            <td>
              <% unless user.current_sign_in_ip.nil? %><%= user.current_sign_in_ip %>
              <% end %>
            </td>
            <td>
              <% unless user.last_sign_in_at.nil? %><span class="Hinweis" title="<%= user.last_sign_in_at %>"><%= user.last_sign_in_at.strftime('%Y-%m-%d') %> </span>
              <% end %>
            </td>
            <td>
              <% unless user.last_sign_in_ip.nil? %><%= user.last_sign_in_ip %>
              <% end %>
            </td>
            <td>
              <%= link_to('<i class= "fa fa-edit"></i>'.html_safe, edit_admin_user_path(user), :class => "blue") %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>

  </div>
</div><!-- /.row -->