<table class="table table-bordered table-hover tablesorter tablesorter-default" role="grid">
  <thead>
  <tr>
    <td style="width:30px;min-width:30px"> &nbsp;</td>
    <td style="width:87px;min-width:87px"><i class="fa fa-user"></i> <span class="Hinweis" rel="tooltip" title="点击查看详细信息">姓名</span> <i class="fa fa-sort"></i></td>
    <td style="width:145px;min-width:145px"><i class="fa fa-phone"></i> 电话</td>
    <td><i class="fa fa-envelope"></i> Email</td>
    <td><i class="fa fa-wechat"></i> 微信</td>
    <td style="width:70px;min-width:70px"><i class="fa fa-calendar"></i> 生日</td>
    <td style="width:70px;min-width:70px"><i class="fa fa-calendar"></i> <span class="Hinweis" rel="tooltip" title="第一次来团契">首访</span></td>
    <td style="width:70px;min-width:70px"><i class="fa fa-calendar"></i> 决志</td>
    <td style="width:88px;min-width:88px"><i class="fa fa-user"></i> <span class="Hinweis" rel="tooltip" title="谁带领决志祷告">带领</span></td>
    <td style="width:70px;min-width:70px"><i class="fa fa-calendar"></i> 受洗</td>
    <td style="width:70px;min-width:70px"><i class="fa fa-calendar"></i> <span class="Hinweis" rel="tooltip" title="离开Aachen">离开</span></td>
    <td style="width:88px;min-width:88px"><i class="fa fa-comment"></i> 备注</td>
    <td style="width:30px;min-width:30px"> &nbsp;</td>
  </tr>
  </thead>
  <tbody>
  <% @contacts.each do |contact| %>
      <tr <%unless contact.authenticated%>style="background-color:#F2DEDE;"<%end;%>>
        <td>
          <%= link_to('<i class= "fa fa-edit"></i>'.html_safe, edit_contact_path(contact), :class => "blue") %>
        </td>
        <td> <%= link_to(contact_path(contact)) do %>
              <% if contact.gender==0 %>
                  <i class="fa fa-female lg red"></i> <%= contact.name %>
              <% else %>
                  <i class="fa fa-male lg blue"></i> <%= contact.name %>
              <% end end %> </td>
        <td>
          <% if contact.mobile.blank? then %>
              <%= contact.telephone %>
          <% else %>
              <%= contact.mobile %>
          <% end %>
        </td>
        <td>
          <% unless contact.email.nil? then
               if contact.email.length > 20 %>
                  <span class="Hinweis" rel="tooltip" title="<%= contact.email %>"><%= truncate(contact.email, :length => 20) %></span>
              <% else %>
                  <%= contact.email %>
              <% end end %>
        </td>
        <td>
          <% unless contact.wechat.nil? then
               if contact.wechat.length > 15 %>
                  <span class="Hinweis" rel="tooltip" title="<%= contact.wechat %>"><%= truncate(contact.wechat, :length => 15) %></span>
              <% else %>
                  <%= contact.wechat %>
              <% end end %>
        </td>
        <td>
          <% unless contact.birthday.nil? %><%= contact.birthday.strftime('%Y-%m') %>
          <% end %></td>
        <td>
          <% unless contact.come.nil? %><%= contact.come.strftime('%Y-%m') %>
          <% end %></td>
        <td>
          <% unless contact.decision.nil? %><%= contact.decision.strftime('%Y-%m') %>
          <% end %></td>
        <td>
          <% unless contact.decision_with.nil? then
               if contact.decision_with.length > 6 %>
                  <span class="Hinweis" rel="tooltip" title="<%= contact.decision_with %>"><%= truncate(contact.decision_with, :length => 6) %></span>
              <% else %>
                  <%= contact.decision_with %>
              <% end end %>
        </td>
        <td>
          <% unless contact.baptism.nil? %><%= contact.baptism.strftime('%Y-%m') %>
          <% end %></td>
        <td>
          <% unless contact.go.nil? %><%= contact.go.strftime('%Y-%m') %>
          <% end %></td>
        <td>
          <% unless contact.comment.nil? then
               if contact.comment.length > 5 %>
                  <span class="Hinweis" rel="tooltip" title="<%= contact.comment %>"><%= truncate(contact.comment, :length => 5) %></span>
              <% else %>
                  <%= contact.comment %>
              <% end end %>
        </td>
        <td>
          <%= link_to('<i class="fa fa-trash-o"></i>'.html_safe, contact_path(contact), :class => "red", :method => :delete, data: {confirm: '你确定吗？'}) %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>