<!DOCTYPE html>
<html>
<head>
  <title>Caachen</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--link href="http://cdn.staticfile.org/twitter-bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"-->
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css">

  <!--link rel="stylesheet" href="http://cdn.staticfile.org/font-awesome/4.0.3/css/font-awesome.min.css"-->
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css">

  <!--link rel="stylesheet" href="http://cdn.staticfile.org/jqueryui/1.10.4/css/jquery-ui.min.css" -->
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/css/jquery-ui.min.css">

  <!--link rel="stylesheet" href="http://cdn.staticfile.org/bootstrap-datepicker/1.3.0/css/datepicker.min.css" -->
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css">

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">

<!-- Sidebar -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">CAachen Admin</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
      <li><%= link_to('<i class="fa fa-user"></i> 联系人列表'.html_safe, contacts_path ) %></li>
      <li><%= link_to('<i class="fa fa-edit"></i> 添加联系人'.html_safe, new_contact_path ) %></li>
      <li><%= link_to('<i class="fa fa-users"></i> 小组列表'.html_safe, groups_path ) %></li>
      <li><%= link_to('<i class="fa fa-edit"></i> 添加小组'.html_safe, new_group_path ) %></li>
    </ul>

    <ul class="nav navbar-nav navbar-right navbar-user">
      <% if current_user %>
          <li><a href="#"><i class="fa fa-user"></i> <%=current_user.name %> </a></li>
          <li><%= link_to('<i class="fa fa-gear"></i> 设置'.html_safe, edit_user_registration_path) %> </li>
          <li><%= link_to('<i class="fa fa-power-off"></i> 登出'.html_safe, destroy_user_session_path,:method=>:delete) %></li>
      <% else %>
          <li> <%= link_to("注册", new_user_registration_path) %> </li>
          <li> <%= link_to("登录", new_user_session_path) %> </li>
          <li> <%= link_to "忘记密码?", new_password_path(resource_name) %>  </li>
      <% end %>



    </ul>
  </div><!-- /.navbar-collapse -->
</nav>

<div id="page-wrapper">
  <row>
  <% flash.each do |name, msg| %>
      <% if msg.is_a?(String) %>
          <div class="alert alert-<%= name.to_s == 'notice' ? 'success' : 'danger' %>">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
          </div>
      <% end %>
  <% end %>
  </row>
  <%= yield %>
</div><!-- /#page-wrapper -->

</div><!-- /#wrapper -->

<!-- JavaScript -->
<!--script src="http://cdn.staticfile.org/jquery/1.11.0/jquery.min.js"></script-->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<!--script src="http://cdn.staticfile.org/jqueryui/1.10.4/jquery-ui.min.js"></script-->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>

<!--script src="http://cdn.staticfile.org/twitter-bootstrap/3.1.1/js/bootstrap.min.js"></script-->
<script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js"></script>

<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<!-- Page Specific Plugins -->

<!--script src="http://cdn.staticfile.org/jquery.tablesorter/2.16.4/jquery.tablesorter.js"></script-->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.16.4/jquery.tablesorter.js"></script>


<!--script src="http://cdn.staticfile.org/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script-->
<script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript">
    $(function() {
        $("table").tablesorter({debug: true});
        $('#datetimepicker1 input').datepicker({
            format: "yyyy-mm-dd"
        });
        $('#datetimepicker2 input').datepicker({
            format: "yyyy-mm-dd"
        });
        $('#datetimepicker3 input').datepicker({
            format: "yyyy-mm-dd"
        });
    });
</script>

</body>
</html>
